/*cabeçalho*/
header img {
    height: 70px;
    width: 70px;
}

/*Conteudo principal*/


/*banner*/
#section-banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}   

/*Produtos vendidos*/
#section-vendidos {
    text-align: center;
    }
    #section-vendidos h2 {
    font-weight: bold;
    padding: 20px;
    }
    #section-vendidos img {
    height: 300px;
    border-radius: 10px;
    }
    #section-vendidos .card {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    }
    #section-vendidos .preco {
    color: red;
    font-size: 18px;
    font-weight: bold;
    }

/*Rodapé*/
footer {
    position: relative;
    bottom:0;
    }
    footer p {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    }

/*Botão Voltar topo*/

/* página de login  */


/* Formulário de cadastro*/

